.countdown__timer {
  font-size: 50pt;
  border-radius: 15px;
  border: 1px solid #999999;
  display: flex;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}
.countdown__timer .wrapper {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.countdown__timer .restart__button {
  border: 1px solid #999999;
  border-radius: 10px;
  background-color: #1c1c1c;
  padding: 10px 20px;
  height: fit-content;
  font-size: 20px;
  cursor: pointer;
}
